body {
    text-align: center;
    background: linear-gradient(to right, #ee9ca7, #ffdde1);
}
  
h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: cursive;
    text-shadow: 3px 0 #DA0463;
}
  
.w {
    background-image: url("./images/crash.png");
}
  
.a {
    background-image: url("./images/kick.png");
}
  
.s {
    background-image: url("./images/snare.png");
}
  
.d {
    background-image: url("./images/tom1.png");
}
  
.j {
    background-image: url("./images/tom2.png");
}
  
.k {
    background-image: url("./images/tom3.png");
}
  
.l {
    background-image: url("./images/tom4.png");
}
  
.all {
    margin: 10% auto;
}
  
.animation {
    box-shadow: 0 0 10px #DA0463,
                0 0 20px #DA0463,
                0 0 40px #DA0463,
                0 0 80px #DA0463,
                0 0 100px #DA0463;
    opacity: 1;
}
  
.btn {
    outline: none;
    border: 10px solid #DA0463;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
}