*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #ee9ca7, #ffdde1);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 100px;
  background-color: white;
  border: 1px solid #333;
}

.white.active {
  background-color: #CCC;
}

.black {
  --width: 60px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}
.btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      font-family: 'Arvo', cursive;
      line-height: 1;
      font-weight: 500;
      color: #DA0463;
      text-shadow: 3px 0 #DBEDF3;
      text-align: center;
}